.image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 100%;
}

.image-box img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.image-box:hover img {
    transform: scale(1.1);
}

.card {
    border: none !important;
    border-radius: 4px !important;
    box-shadow: 0 0 8px 0 rgb(57 78 234 / 10%);
    transition: 0.3s;
    text-decoration: none !important;
}
