.nav-logo{
    width: 100px;
    height: 30px;
}
.cart-btn{
    color: #FAFDFB;
    font-size: 18px;
    font-weight: bold;
    border: 0.5px solid #E43023;
    background: #ff0000 !important;
    border-radius: 1rem !important;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-autocomplete{
    z-index: 10000;
    height: 100px;
    background-color: white;
}
.nav-round-btn{
    background-color: white;
    color: #000000;

    border-radius: 54% !important;
    box-shadow: 0 0 4px 0 rgba(57, 78, 234, 0.1)
}
.nav-round-btn:hover{
    background-color: white;
    border-radius: 52% !important;
    box-shadow: 0 0 12px 0 rgba(57, 78, 234, 0.1)
}

.navbar {
    display: block;
}

.navbar-right-side {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-right-side .fa{
    background: transparent;
    color: #363636;
    text-align: center;
    line-height: 2;
}

.navbar-right-side a{
    display: flex;
}

.navbar-right-side .signin{
    background: #ffffff;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    border-radius: 1rem;
}

.navbar-right-side sub {
    font-size: 16px;
}

.navbar-right-side .badge {
    border-radius: 2rem;
}

.font-30 {
    font-size: 25px;
}

.font-40 {
    font-size: 35px;
}
