
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import "variables.css";
@import "bigSlider.css";
@import "button.css";
@import "common.css";
@import "card.css";
@import "footer.css";

@import "megaMenu.css";
@import "megaMenuMobile.css";

@import "navMenuDekstop.css";
@import "navMenuMobile.css";

@import "typo.css";
@import "form.css";
@import "onboard.css";
@import "map.css";

@import "notification.css";
@import "ProductDetails.css";
@import "cart.css";

@import "breadcrumb.css";
@import "responsive.css";
@import "toast.css";
@import "search.css";

#nprogress .bar {
    background: red !important;
    height: 3px;
}

#nprogress .peg {
    box-shadow: 0 0 10px red, 0 0 5px red !important;
}

#nprogress .spinner-icon {
    border-top-color: red !important;
    border-left-color: red !important;
}

.BannerTop {
    position: relative;
    height: 325px;
    width: 100%;
}
.BannerTop img {
    width: 100%;
    height: 100%;
}

.BannerTop .search-section{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 12rem;
}

.search-section input{
    padding: .5rem 0 .5rem 2.9rem;
    vertical-align: top;
    background-size: 1.4rem;
    background-repeat: no-repeat;
    background-position: 1rem .7rem;
    height: 3rem;
    border: 2px solid darkred;
    border-radius: .5rem !important;
}

.feature-category .card {
    margin: 8px 0;
    background: #f0f8ff;
}

.feature-category .card-body {
    font-size: 20px;
    font-weight: 500;
}

.product-card-image {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.product-card-details {
    height: 80px;
    text-align: center;
}

.loader-custom-wrapper {
  height: 400px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Not Found Page*/

.page_404{
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}

.four_zero_four_bg h1{
    font-size:80px;
}

.four_zero_four_bg h3{
    font-size:80px;
}

.link_404{
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}
.contant_box_404{ margin-top:-50px;}

.user-panel-left-sidebar ul{
    list-style: none;
}

.user-panel-left-sidebar ul li a {
    padding: 10px;
    background: #efefef;
    color: #000;
    font-weight: 500;
    display: block;
    margin-bottom: .5rem;
}

.is-active {
    color: #ffffff !important;
    background: #e43023 !important;
}

.google-login-button {
    border: 1px solid #e7e7e7 !important;
    background: #f9f9f9;
    display: block;
    font-weight: 600;
    border-radius: 8px;
    line-height: 2;
    width: 100%;
}

.main-login-button {
    width: 100%;
    line-height: 2;
    border-radius: 8px;
    font-weight: 600;
}

.social-divider {
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #979faf;
    line-height: 0.1em;
    margin: -20px 0 20px;
    margin-left: 10%;
}

.social-divider span {
    background: #fff;
    padding: 0 10px;
}

.login-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffffe0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-overlay .fa {
    color: red;
    font-size: 30px;
}
